﻿body {
    margin: 0px;
    font-family: Arial;
    font-size: 12px;
    color: Black;
    background-repeat: repeat-x;
}

/*Form login*/
.portlet3 {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
    margin: 0 0 10px;
    /*cross browser css*/
    filter: alpha(opacity=40);
    opacity: 0.8;
    -moz-opacity: 0.8;
    padding: 0;
}

.portlet3-contain {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_top.jpg) repeat-x scroll 0 0;
    width: 100%;
}

.portlet3-topper {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_top.jpg) repeat-x scroll 0 0;
    border-bottom: 1px solid #D7D8D8;
    overflow: hidden;
    position: static;
}

.portlet3-title {
    color: #0C84C7;
    float: left;
    font-weight: bold;
    padding: 4px 4px 4px 8px;
}

.portlet3-topper-left {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_top_left.jpg) no-repeat scroll left top;
    float: left;
    width: 100%;
}

.portlet3-topper-right {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_top_right.jpg) no-repeat scroll right top;
    float: right;
    width: 100%;
}

.portlet3-content {
    border-bottom: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
    padding: 10px;
}

.portlet3-bottom-left {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_bottom_left.jpg) no-repeat scroll left bottom;
    float: left;
    height: 6px;
    margin-top: -6px;
    width: 100%;
}

.portlet3-bottom-right {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(/images/splash_portlet_bottom_right.jpg) no-repeat scroll right bottom;
    float: right;
    height: 6px;
    width: 6px;
}
/*Thông tin các hệ thống được tích hợp trong EMS*/
.portlet {
    background: #F6F6F8 none repeat scroll 0 0;
    margin: 0 0 10px;
    padding: 0;
}

.portlet-topper {
    background: transparent url(/images/portlet_top.jpg) repeat-x scroll 0 0;
    border-bottom: 1px solid #D7D7D7;
    overflow: hidden;
    position: static;
}

.portlet-contain {
    background: transparent url(/images/portlet_top.jpg) repeat-x scroll 0 0;
    width: 100%;
}

.portlet-topper-left {
    background: transparent url(/images/portlet_top_left.jpg) no-repeat scroll left top;
    float: left;
    width: 100%;
}

.portlet-topper-right {
    background: transparent url(/images/portlet_top_right.jpg) no-repeat scroll right top;
    float: right;
    width: 100%;
}

.portlet-title {
    color: #607AA4;
    float: left;
    padding: 5px 5px 5px 8px;
    display: block;
    font-weight: bold;
    min-width: 50%;
}

.portlet-content {
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    padding: 5px;
}

.portlet-content-title {
    color: #0C84C7;
    font-weight: bold;
    text-transform: uppercase;
}

.portlet-content-description {
    color: #606163;
    line-height: 1.6em;
}

.portlet-separation {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 5px;
    border-bottom: 1px solid #D7D7D7;
}

.portlet-section td {
    padding: 1px 5px;
}

a {
    color: #0C84C7;
    text-decoration: none;
}
/*Form login*/
.portlet-login-title {
    color: #0C84C7;
    float: left;
    font-weight: bold;
    padding: 4px 4px 4px 8px;
}

.porlet-login-label {
    color: #606163;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"] {
    background-image: url(/images/input_shadow.png);
    background-repeat: no-repeat;
    border-color: #D2D2D2 #CCCCCC #CCCCCC #D2D2D2;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin-right: 3px;
    padding: 2px 4px;
}

input[type="submit"], input[type="button"], input[type="reset"], input[type="select"] {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-border-radius-bottomleft: 0.3em;
    -moz-border-radius-bottomright: 0.3em;
    -moz-border-radius-topleft: 0.3em;
    -moz-border-radius-topright: 0.3em;
    background: transparent url(/images/button.png) repeat-x scroll 0 0;
    border: thin solid #337FB2;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    overflow: visible;
    padding: 2px 4px;
    width: auto;
}

.navigation {
    background: #EEEEEE none repeat scroll 0 0;
    border-top: 1px solid #BFBFBF;
    padding: 10px;
}

.icon {
    vertical-align: middle;
    border: 0 none;
}